div#rmlb_board th{
  background-color: #EEEEEE;
}

div#rmlb_board tr:hover{
  background-color: #FFFFEE;
}

div#rmlb_board tr.a{
  background-color: #f08080;
}

div#rmlb_board tr.old{
  color: #808080;
}
